<html lang="en-US">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Michael Burnes | Computer Science</title>
<!--link rel="shortcut icon" type="image/png" href="thumb.png" /-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:400|Barlow:500" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-reboot.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="main.css">
<main>
<div class ="top-nav-bar">
    <a href="/">Michael Burnes</a>
    <a href="projects">Projects</a>
    <a href="resume">Resume</a>
</div>
<section>
    <h1>Oww.</h1>
    <p>That's broken. This isn't a 404, which means something went <i>really</i> wrong here. Please consider reporting this issue in the <a href="https://github.com/mtburnes/mtburnes-spring.github.io">GitHub Repository</a>.</p>
    <p>Thanks!</p>
</section>
</main>
</html>
